@using Cassette.Views
@using Docs.Core
@{
    Bundles.Reference("Scripts", "head");
    Bundles.Reference("Content");
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@Page.Title</title>

    <meta property="og:title" content="Documentation - MyGet - Hosting your NuGet, Npm, Bower, Maven and Vsix packages" />
    <meta property="og:type" content="MyGet" />
    <meta property="og:url" content="https://docs.myget.org" />
    <meta property="og:description" content="Documentation - Hosting your NuGet, Npm, Bower, Maven and Vsix packages" />
    <meta property="og:site_name" content="MyGet Docs" />
    <meta property="og:image:url" content="https://www.myget.org/Content/images/marketing/myget-cube.png" />
    <meta property="twitter:card" content="summary">
    <meta property="twitter:site" content="@("@")MyGetTeam" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @Bundles.RenderStylesheets()

    <link href="@Href("~/favicon.ico")" rel="shortcut icon" type="image/x-icon" />
    <meta property="og:image" content="/Content/images/myget/logo.png" />

    <!--[if lt IE 9]>
        <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    @Bundles.RenderScripts("head")
    @RenderSection("head", required: false)
</head>
<body>
    <div id="content-wraper">
        <header>
            <nav class="navbar navbar-static-top" role="navigation">
                <div class="navbar-inner">
                    <div class="container">
                        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </a>
                        <a class="brand" href="/">
                            <h1><span>MyGet - Hosted Package Management Server for NuGet, symbols, Npm, Bower, Maven, PHP Composer and VSIX</span></h1>
                        </a>
                        <div class="nav-collapse collapse pull-right">
                            <ul class="nav">
                                <li><a href="https://www.myget.org/features/">Features</a></li>
                                <li><a href="https://www.myget.org/plans/">Pricing</a></li>
                                <li><a href="https://www.myget.org/gallery/">Gallery</a></li>
                                <li><a href="/">Docs</a></li>
                                <li><a href="https://blog.myget.org">Blog</a></li>
                                <li><a href="https://www.myget.org/support/">Contact</a></li>
                            </ul>
                            <div class="navbar-form pull-right">
                                <a class="btn" href="https://www.myget.org/Account/Login">Sign In</a>
                                <a class="btn btn-primary" href="https://www.myget.org/Account/Register">Sign Up</a>
                            </div>

                        </div>
                    </div>
                </div>
            </nav>
        </header>

        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="span6">
                        <ul class="breadcrumb" class="pull-left">
                            <li><i class="icon-home"></i> <a href="/">Home</a></li>

                            @if (Page.Source != null)
                            {
                                foreach (var topic in Topic.GetTopics("~/docs"))
                                {
                                    foreach (var subTopic in topic.SubTopics)
                                    {
                                        if (subTopic.Url.ToLowerInvariant() == "/" + Page.Source.ToString().Replace(".markdown", "").ToLowerInvariant())
                                        {
                                            <li>
                                                <span class="divider">
                                                    <i class="icon-chevron-right"></i>
                                                </span>

                                                <a href="@topic.SubTopics.First().Url">@topic.Title</a>

                                                <span class="divider">
                                                    <i class="icon-chevron-right"></i>
                                                </span>
                                            </li>
                                            <li>@subTopic.Title</li>
                                        }
                                    }
                                }
                            }
                        </ul>
                    </div>

                    <div class="span6">
                        @RenderPage("~/_searchbox.cshtml")
                    </div>
                </div>
                <div class="row">
                    <div class="span3">
                        @RenderSection("LeftMenu", required: false)
                        @RenderPage("~/_Overview.cshtml")
                    </div>
                    <div class="span9">
                        @RenderBody()

                        <div class="row">
                            <div class="span9 centered">
                                <a href="https://www.myget.org/support" class="btn btn-primary  btn-large">Get support</a>

                                <a href="https://myget.uservoice.com" class="btn btn-primary  btn-large">Request a feature</a>

                                @if (Page.Source != null)
                                {
                                    <a href="https://github.com/myget/MyGetDocs/edit/master/Docs.Site/@HttpUtility.UrlPathEncode(Page.Source)" class="btn btn-primary  btn-large">Contribute to our docs</a>
                                    if (!string.IsNullOrEmpty(HttpUtility.UrlPathEncode(Page.Source)))
                                    {
                                        <a target="_blank" href="https://gitprint.com/myget/MyGetDocs/blob/master/Docs.Site/@HttpUtility.UrlPathEncode(Page.Source)" class="btn btn-primary  btn-large">
                                            Export this page to PDF
                                        </a>
                                    }
                                }
                                else
                                {
                                    <a href="/docs/contribute/contributing-to-myget-documentation" class="btn btn-primary  btn-large">Contribute to our docs</a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer class="footer">
            <div class="container">
                <div class="clearfix">
                    <a class="footer-logo" href="/">
                        <img src="/Content/images/myget-logo.svg" width="180" />
                    </a>
                    <div class="footer-links">
                        <div class="footer-col">
                            <h6>LEARN MORE</h6>
                            <ul>
                                <li><a href="https://www.myget.org/features">Features</a></li>
                                <li><a href="https://www.myget.org/testimonials">Customers</a></li>
                                <li><a href="https://www.myget.org/pricing">Pricing</a></li>
                                <li><a href="https://www.myget.org/partners">Partners &amp; resellers</a></li>
                                <li><a href="https://www.myget.org/company">About us</a></li>
                            </ul>
                        </div>
                        <div class="footer-col">
                            <h6>SUPPORT AND HELP</h6>
                            <ul>
                                <li><a href="https://docs.myget.org/docs/reference/faq">FAQ</a></li>
                                <li><a href="https://docs.myget.org">Documentation</a></li>
                                <li><a href="https://www.myget.org/Support">Support</a></li>
                            </ul>
                        </div>
                        <div class="footer-col">
                            <h6>NEWS AND UPDATES</h6>
                            <ul>
                                <li><a href="https://blog.myget.org">Our Blog</a></li>
                                <li><a href="https://twitter.com/mygetteam">Follow us on Twitter</a></li>
                                <li><a href="https://myget.uservoice.com">Feedback via UserVoice</a></li>
                                <li><a href="https://status.myget.org/">Status Page</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="footer-secondary">
                    <div class="secondary-links">
                        <a href="https://www.myget.org/policies/terms">Terms of Service</a>
                        <a href="https://www.myget.org/policies/disclaimer">Disclaimer</a>
                        <a href="https://www.myget.org/policies/privacy">Privacy</a>
                        <a href="https://www.myget.org/policies/security">Security</a>
                    </div>
                    <div class="footer-socials">
                        <a class="share share-twitter" target="blank" href="https://twitter.com/share?url=http://www.myget.org/&text=Check %23MyGet, it's an online repository for private packages!"></a>
                        <a class="share share-facebook" target="blank" href="https://www.facebook.com/sharer.php?u=http://www.myget.org/"></a>
                        <a class="share share-linkedin" target="blank" href="https://www.linkedin.com/shareArticle?mini=true&url=http://www.myget.org/"></a>
                        <a class="share share-google" target="blank" href="https://plus.google.com/share?url=http://www.myget.org/"></a>
                    </div>
                </div>
            </div>

        </footer>
    </div>

    @Microsoft.Web.Helpers.Analytics.GetGoogleAsyncHtml("UA-576836-11")
</body>
</html>
