@using Cassette.Views
@using Docs.Core
@{
    Bundles.Reference("Scripts", "head");
    Bundles.Reference("Content");
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@Page.Title</title>

    <meta property="og:title" content="Documentation - MyGet - Hosting your NuGet, Npm, Bower and Vsix packages" />
    <meta property="og:type" content="MyGet" />
    <meta property="og:url" content="http://docs.myget.org" />
    <meta property="og:description" content="Documentation - Hosting your NuGet, Npm, Bower and Vsix packages" />
    <meta property="og:site_name" content="MyGet Docs" />
    <meta property="og:image" content="https://www.myget.org/Content/images/marketing/myget-cube.png" />
    <meta property="twitter:card" content="summary">
    <meta property="twitter:site" content="@("@")MyGetTeam" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @Bundles.RenderStylesheets()

    <link href="@Href("~/favicon.ico")" rel="shortcut icon" type="image/x-icon" />
    <meta property="og:image" content="/Content/images/myget/logo.png" />

    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    @Bundles.RenderScripts("head")
    @RenderSection("head", required: false)
</head>
<body>
    <div id="content-wraper">
        <header>
            <div class="navbar navbar-static-top">
                <div class="navbar-inner">
                    <div class="container">
                        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </a>
                        <a class="brand" href="/">
                            <h1><span>MyGet - Hosting your NuGet packages - NuGet Server</span></h1>
                        </a>
                        <div class="nav-collapse collapse pull-right">
                            <ul class="nav">
                                <li><a href="http://www.myget.org/features/">Features</a></li>
                                <li><a href="http://www.myget.org/plans/">Pricing</a></li>
                                <li><a href="http://www.myget.org/gallery/">Gallery</a></li>
                                <li><a href="/">Docs</a></li>
                                <li><a href="http://blog.myget.org">Blog</a></li>
                                <li><a href="http://www.myget.org/support/">Contact</a></li>
                            </ul>

                            <div class="navbar-form pull-right">
                                <a class="btn" href="http://www.myget.org/Account/Login">Sign In</a>
                                <a class="btn btn-primary" href="http://www.myget.org/Account/Register">Sign Up</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="span6">
                        <ul class="breadcrumb" class="pull-left">
                            <li><i class="icon-home"></i> <a href="/">Home</a></li>

                            @if (Page.Source != null)
                            {
                                foreach (var topic in Topic.GetTopics("~/docs"))
                                {
                                    foreach (var subTopic in topic.SubTopics)
                                    {
                                        if (subTopic.Url.ToLowerInvariant() == "/" + Page.Source.ToString().Replace(".markdown", "").ToLowerInvariant())
                                        {
                                            <li>
                                                <span class="divider">
                                                    <i class="icon-chevron-right"></i>
                                                </span>

                                                <a href="@topic.SubTopics.First().Url">@topic.Title</a>

                                                <span class="divider">
                                                    <i class="icon-chevron-right"></i>
                                                </span>
                                            </li>
                                            <li>@subTopic.Title</li>
                                        }
                                    }
                                }
                            }
                        </ul>
                    </div>

                    <div class="span6">
                        @RenderPage("~/_searchbox.cshtml")
                    </div>
                </div>
                <div class="row">
                    <div class="span3">
                        @RenderSection("LeftMenu", required: false)
                        @RenderPage("~/_Overview.cshtml")
                    </div>
                    <div class="span9">
                        @RenderBody()

                        <hr noshade="noshade" />

                        <div class="row">
                            <div class="span9 centered">
                                <a href="https://www.myget.org/support" class="btn btn-primary btn-small"><i class="icon-question-sign icon-white"></i> Get support</a>

                                <a href="http://myget.uservoice.com" class="btn btn-primary btn-small"><i class="icon-comment icon-white"></i> Request a feature</a>

                                @if (Page.Source != null)
                                {
                                    <a href="https://github.com/myget/MyGetDocs/edit/master/Docs.Site/@HttpUtility.UrlPathEncode(Page.Source)" class="btn btn-primary btn-small"><i class="icon-wrench icon-white"></i> Contribute to our docs</a>
                                    if (!string.IsNullOrEmpty(HttpUtility.UrlPathEncode(Page.Source)))
                                    {
                                        <a target="_blank" href="https://gitprint.com/myget/MyGetDocs/blob/master/Docs.Site/@HttpUtility.UrlPathEncode(Page.Source)" class="btn btn-primary btn-small">
                                            <i class="icon-pdf icon-white"></i> Export this page to PDF
                                        </a>
                                    }
                                }
                                else
                                {
                                    <a href="/docs/contribute/contributing-to-myget-documentation" class="btn btn-primary btn-small"><i class="icon-wrench icon-white"></i> Contribute to our docs</a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="span4">
                        <h2><img src="/Content/images/myget/myget_125x25_white.png"></h2>
                        MyGet. Hosted NuGet, NPM, Bower and Vsix.<br>
                        <br>
                        © 2011-@DateTime.UtcNow.Year <a href="http://www.myget.org/company">MyGet (TechTomato BVBA)</a><br>
                        <a href="http://www.myget.org/policies/terms">Terms of Service</a>
                        | <a href="http://www.myget.org/policies/disclaimer">Disclaimer</a>
                        | <a href="http://www.myget.org/policies/privacy">Privacy</a><br>
                        <br>
                        <a class="share share-twitter" href="http://twitter.com/share?url=http://www.myget.org/&amp;text=Check %23MyGet, it's an online %23NuGet Server!" target="blank"></a>
                        <a class="share share-facebook" href="http://www.facebook.com/sharer.php?u=http://www.myget.org/" target="blank"></a>
                        <a class="share share-linkedin" href="http://www.linkedin.com/shareArticle?mini=true&amp;url=http://www.myget.org/" target="blank"></a>
                        <a class="share share-google" href="https://plus.google.com/share?url=http://www.myget.org/" target="blank"></a>
                    </div>
                    <div class="span2">
                        <h2>Learn more</h2>
                        <ul>
                            <li><a href="http://www.myget.org/features">Features</a></li>
                            <li><a href="http://www.myget.org/testimonials">Customers</a></li>
                            <li><a href="http://www.myget.org/pricing">Pricing</a></li>
                            <li><a href="http://www.myget.org/company">About us</a></li>
                        </ul>
                    </div>
                    <div class="span2">
                        <h2>Support and Help</h2>
                        <ul>
                            <li><a href="http://docs.myget.org/docs/reference/faq">FAQ</a></li>
                            <li><a href="http://docs.myget.org">Documentation</a></li>
                            <li><a href="http://www.myget.org/Support">Support</a></li>
                        </ul>
                    </div>
                    <div class="span2">
                        <h2>News and Updates</h2>
                        <ul>
                            <li><a href="http://blog.myget.org">Our Blog</a> &rarr;</li>
                            <li><a href="http://twitter.com/mygetteam">Follow us on Twitter</a> &rarr;</li>
                            <li><a href="http://myget.uservoice.com">Feedback via UserVoice</a> &rarr;</li>
                            <li><a href="http://status.myget.org/">Status Page</a> &rarr;</li>
                        </ul>
                    </div>
                </div>

                <div class="row">
                    <div class="span12 version">
                        <p>
                            MyGet Documentation is a <a href="https://github.com/myget/MyGetDocs">public fork of the original NuGet Documentation on GitHub</a>.<br />
                            <span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">NuGet Documentation</span> by
                            <a xmlns:cc="http://creativecommons.org/ns#" href="http://www.outercurve.org/" property="cc:attributionName" rel="cc:attributionURL">Outercurve Foundation</a>
                            is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 Unported License</a>
                            except where otherwise noted.
                        </p>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    @Microsoft.Web.Helpers.Analytics.GetGoogleAsyncHtml("UA-576836-11")
</body>
</html>
